layout {

    focus-ring {
        active-color   "#83d995"
        inactive-color "#111411"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#83d995"
        inactive-color "#111411"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#83d995"
        inactive-color "#005225"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#83d99580"
    }
}

recent-windows {
    highlight {
        active-color "#83d995"
        urgent-color "#ffb4ab"
    }
}
