binds {
    Mod+Shift+ESCAPE                    { show-hotkey-overlay; }

    // Noctalia
    Mod+P                     		    hotkey-overlay-title="Open App Launcher" { spawn-sh "noctalia msg panel-toggle launcher"; }
    Mod+BackSpace                       hotkey-overlay-title="Lock Screen" { spawn-sh "noctalia msg session lock"; }
    Mod+Shift+Q                         hotkey-overlay-title="Session Menu" { spawn-sh "noctalia msg panel-toggle session"; }

    // Applications
    Mod+Return                          hotkey-overlay-title="Open Terminal: ghostty" { spawn "ghostty" "+new-window"; }
    Mod+I                               hotkey-overlay-title="Open Browser: Zen Browser" { spawn "zen-browser"; }
    Mod+E                               hotkey-overlay-title="File Manager: Nautilus" { spawn "nautilus"; }

    // Media Controls
    XF86AudioRaiseVolume                allow-when-locked=true { spawn-sh "noctalia msg volume-up 1%"; }
    XF86AudioLowerVolume                allow-when-locked=true { spawn-sh "noctalia msg volume-down 1%"; }
    XF86AudioMute                       repeat=false allow-when-locked=true { spawn-sh "noctalia msg volume-mute"; }
    XF86AudioMicMute                    repeat=false allow-when-locked=true { spawn-sh "noctalia msg mic-mute"; }
    XF86AudioNext                       repeat=false allow-when-locked=true { spawn-sh "noctalia msg media next"; }
    XF86AudioPrev                       repeat=false allow-when-locked=true { spawn-sh "noctalia msg media previous"; }
    XF86AudioPlay                       repeat=false allow-when-locked=true { spawn-sh "noctalia msg media toggle"; }
    XF86AudioPause                      repeat=false allow-when-locked=true { spawn-sh "noctalia msg media toggle"; }

    // Brightness Controls
    XF86MonBrightnessUp                 allow-when-locked=true { spawn-sh "noctalia msg brightness-up"; }
    XF86MonBrightnessDown               allow-when-locked=true { spawn-sh "noctalia msg brightness-down"; }

    // Screenshots
    Print                        	    repeat=false { screenshot; }
    CTRL+Print	                        repeat=false { screenshot-screen; }
    Shift+Print                         repeat=false { screenshot-window; }

    // Layout Controls
    Mod+M                          	    { maximize-column; }
    Mod+C                               { center-column; }
    Mod+CTRL+C                          { center-visible-columns; }
    Mod+CTRL+H                     	    { set-column-width "-10%"; }
    Mod+CTRL+L                     	    { set-column-width "+10%"; }
    Mod+CTRL+K             		        { set-window-height "-10%"; }
    Mod+CTRL+J                     	    { set-window-height "+10%"; }
    Mod+Minus                           { switch-preset-column-width-back; }
    Mod+Equal                           { switch-preset-column-width; }
    Mod+Semicolon			            { consume-window-into-column; }
    Mod+Apostrophe			            { expel-window-from-column; }

    // Modes
    Mod+T                               { toggle-window-floating; }
    Mod+F                               { fullscreen-window; }
    Mod+W                               { toggle-column-tabbed-display; }

    // Window Movement and Focus
    Mod+Q                               { close-window; }

    Mod+H                               { focus-column-or-monitor-left; }
    Mod+L                               { focus-column-or-monitor-right; }
    Mod+K                               { focus-window-or-workspace-up; }
    Mod+J                               { focus-window-or-workspace-down; }
    Mod+CTRL+WheelScrollDown           	{ focus-column-right; }
    Mod+CTRL+WheelScrollUp             	{ focus-column-left; }

    Mod+Shift+H                         { move-column-left-or-to-monitor-left; }
    Mod+Shift+L                         { move-column-right-or-to-monitor-right; }
    Mod+Shift+K                         { move-window-up-or-to-workspace-up; }
    Mod+Shift+J                         { move-window-down-or-to-workspace-down; }
    Mod+Shift+WheelScrollDown      	    { move-column-right; }
    Mod+Shift+WheelScrollUp        	    { move-column-left; }

    Mod+Home                            { focus-column-first; }
    Mod+End                             { focus-column-last; }
    Mod+CTRL+Home                       { move-column-to-first; }
    Mod+CTRL+End                        { move-column-to-last; }

    Mod+Comma                     	    { focus-monitor-left; }
    Mod+Period                     	    { focus-monitor-right; }

    Mod+Shift+Comma                 	{ move-column-to-monitor-left; }
    Mod+Shift+Period                	{ move-column-to-monitor-right; }

    // Workspace Switching
    Mod+WheelScrollDown                 cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp                   cooldown-ms=150 { focus-workspace-up; }
    Mod+CTRL+Shift+WheelScrollDown      cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+CTRL+Shift+WheelScrollUp        cooldown-ms=150 { move-column-to-workspace-up; }

    Mod+1                               { focus-workspace 1; }
    Mod+2                               { focus-workspace 2; }
    Mod+3                               { focus-workspace 3; }
    Mod+4                               { focus-workspace 4; }
    Mod+5                               { focus-workspace 5; }
    Mod+6                               { focus-workspace 6; }
    Mod+7                               { focus-workspace 7; }
    Mod+8                               { focus-workspace 8; }
    Mod+9                               { focus-workspace 9; }

    Mod+Shift+1                         { move-column-to-workspace 1; }
    Mod+Shift+2                         { move-column-to-workspace 2; }
    Mod+Shift+3                         { move-column-to-workspace 3; }
    Mod+Shift+4                         { move-column-to-workspace 4; }
    Mod+Shift+5                         { move-column-to-workspace 5; }
    Mod+Shift+6                         { move-column-to-workspace 6; }
    Mod+Shift+7                         { move-column-to-workspace 7; }
    Mod+Shift+8                         { move-column-to-workspace 8; }
    Mod+Shift+9                         { move-column-to-workspace 9; }

    // Exit / Power
    CTRL+ALT+Delete                     { quit; } // Also quits Niri
    Mod+Backslash                       { power-off-monitors; } // Turn off screens (useful for OLED or privacy)
    Mod+O                               repeat=false { toggle-overview; }

    // Emergency Escape Key
    // Use this when a fullscreen app blocks your keybinds.
    // It disables any active keyboard shortcut inhibitor, restoring control.
    Mod+ESCAPE                          allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }
}
